{% extends 'base.html'  %}

{% block title %}BLOG{% endblock%}

{% block content %}

<div class="container mb-5">
    <h1 class="text-center display-3 my-5 text-white page-title">The No Fun League Blog</h1>

    <div class="row justify-content-center mb-5">
        <div class="col-auto">
            <a href="/blog/new" class="btn btn-warning btn-lg rounded-pill border border-2 border-warning"><b>NEW POST</b></a>
        </div>
    </div>
    
    <div class="row justify-content-center text-white">
        <div class="col-10">
            {% for post in posts %}
            <div class="p-5 border border-white border-1 mb-5 rounded posts">
                <h4 class="text-center">{{post.title}}</h4>
                <div class="p-3">
                    <p class="indent lead">{{post.para_1}}</p>
                    {% if post.para_2 %}
                    <p class="indent lead">{{post.para_2}}</p>
                    {% endif %}
                    {% if post.para_3 %}
                    <p class="indent lead">{{post.para_3}}</p>
                    {% endif %}
                </div>
                <hr class="bg-white border-5 border-white">
                <div class="row justify-content-between">
                    <div class="col-auto align-self-center">
                        <i>By <a href="/managers/{{post.user.id}}">{{post.user.full_name}}</a></i> on {{post.friendly_datetime}}
                    </div>
                    <div class="col-auto align-self-center">
                        <form action="/blog/{{post.id}}/delete" method="POST">
                            <a href="/blog/{{post.id}}/edit" class="btn btn-sm btn-primary me-1"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}