{% extends 'base.html'  %}

{% block title %}BLOG{% endblock%}

{% block content %}

<h1 class="text-center display-5 my-5 text-white">The No Fun League Blog</h1>

<div class="row justify-content-center text-white">
    <div class="col-10">
        {% for post in posts %}
        <div class=" pt-5 px-5 pb-2 bg-secondary border border-white border-2 mb-4 rounded">
            <h5 class="text-center mb-4">{{post.title}}</h5>
            <p>{{post.content}}</p>
            <hr class="bg-white border-5 border-white">
            <p><i>By {{post.posted_by.full_name}}</i> on {{post.friendly_datetime}} </p>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}