{% extends 'base.html'  %}

{% block title %}DRAFTBOARD{% endblock%}

{% block content %}



<h1 class="text-center my-5">DRAFTBOARD</h1>

<div class="row g-1 justify-content-center text-center">
    <div class="col-auto">
    <h5>{{r1[0].member.display_name}}</h5>
    {% for pick in r1 %}
        <div class="card mb-1">
            <div class="card-body">
                <div class="card-title">{{pick.first_name[0]}}. {{pick.last_name}}</div>
                <p class="card-text text-secondary"> {{pick.position}} | {{pick.team}} |  ${{pick.amount}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="col-auto">
    <h5>{{r2[0].member.display_name}}</h5>
    {% for pick in r2 %}
    <div class="card mb-1">
        <div class="card-body">
            <div class="card-title">{{pick.first_name[0]}}. {{pick.last_name}}</div>
            <p class="card-text text-secondary"> {{pick.position}} | {{pick.team}} |  ${{pick.amount}}</p>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="col-auto">
        <h5>{{r3[0].member.display_name}}</h5>
        {% for pick in r3 %}
        <div class="card mb-1">
            <div class="card-body">
                <div class="card-title">{{pick.first_name[0]}}. {{pick.last_name}}</div>
                <p class="card-text text-secondary"> {{pick.position}} | {{pick.team}} |  ${{pick.amount}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-auto">
        <h5>{{r4[0].member.display_name}}</h5>
        {% for pick in r4 %}
        <div class="card mb-1">
            <div class="card-body">
                <div class="card-title">{{pick.first_name[0]}}. {{pick.last_name[:8]}}</div>
                <p class="card-text text-secondary"> {{pick.position}} | {{pick.team}} |  ${{pick.amount}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-auto">
        <h5>{{r5[0].member.display_name}}</h5>
        {% for pick in r5 %}
        <div class="card mb-1">
            <div class="card-body">
                <div class="card-title">{{pick.first_name[0]}}. {{pick.last_name}}</div>
                <p class="card-text text-secondary"> {{pick.position}} | {{pick.team}} |  ${{pick.amount}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

