{% extends 'base.html'  %}

{% block title %}DRAFTBOARD{% endblock%}

{% block content %}

<h1 class="text-center my-5 text-white">2021 DRAFTBOARD</h1>

<div class="row g-1 justify-content-center text-center mb-5">

    {% for team in draft %}
    <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-1 mb-3">
        <img class="img-fluid rounded-circle w-25" src="https://sleepercdn.com/avatars/thumbs/{{team[0].manager.avatar_id}}" alt="">
        <h5 class="text-white">{{team[0].manager.display_name}}</h5>

        {% for pick in team %}
            <div class="{{pick.position}} py-3 text-white rounded mb-1">
                <div><b>{{pick.first_name[0]}}. {{pick.last_name[:9]}}</b></div>
                <div>{{pick.position}} | {{pick.team}} |  ${{pick.amount}}</div>
            </div>
        {% endfor %}

    </div>
    {% endfor %}

</div>
{% endblock %}

<!-- <div><img class="img-fluid w-25" src="https://sleepercdn.com/content/nfl/players/thumb/{{pick.player_id}}.jpg" alt=""></div> -->
