{% extends 'base.html'  %}

{% block title %}Rosters{% endblock%}

{% block content %}

<div class="container">


<h1 class="text-center my-5 text-white">ALL ROSTERS</h1>

<p>{{players}}</p>

<div class="row text-center">
{% for roster in rosters %}
    <div class="col-sm-6 col-md-4">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th scope="col">
                        <a href="/rosters/{{roster.id}}">
                        <div>
                            <img class="img-fluid rounded-circle" src="https://sleepercdn.com/avatars/thumbs/{{roster.manager.avatar_id}}" alt="">
                            <div>{{roster.manager.team_name}}</div>
                        </div>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for player in roster.players%}
                <tr>
                   <td>{{player}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
</div>
</div>

{% endblock %}