{% extends 'base.html'  %}

{% block title %}Rosters{% endblock%}

{% block content %}

<p class="text-white">{{players}}</p>

<div class="row text-center my-5">
{% for roster in rosters %}
    <div class="col-sm-6 col-md-4">
        <table class="table bg-white rounded">
            <thead>
                <tr>
                    <th scope="col">
                        <a href="/rosters/{{roster.id}}"  style="text-decoration:none;" class="text-dark">
                        <div class="row">
                            <div class="col-auto">
                                <img class="img-fluid rounded-circle w-75" src="https://sleepercdn.com/avatars/thumbs/{{roster.manager.avatar_id}}" alt="">
                            </div>
                            <div class="col-auto align-self-center">
                                {{roster.manager.team_name}}
                            </div>
                        </div>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for id in roster.player_ids%}
                <tr>
                   <td>
                       {{id}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
</div>

{% endblock %}