{% extends 'base.html'  %}

{% block title %}Rosters{% endblock%}

{% block content %}

<div class="container">


<h1 class="text-center my-5">ALL ROSTERS</h1>

<div class="row text-center">
{% for roster in rosters %}
    <div class="col-sm-6 col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img-fluid rounded-circle" src="https://sleepercdn.com/avatars/thumbs/{{roster.owner.avatar_id}}" alt="">
                        <div><a href="/rosters/{{roster.id}}">{{roster.owner.team_name}}</a></div>
                    </th>
                </tr>
                <tr>
                    <th>{{roster.record}}</th>
                </tr>
            </thead>
            <tbody>
                {% for player in roster.players%}
                <tr>
                   <td>{{player}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
</div>
</div>

{% endblock %}