{% extends 'base.html'  %}

{% block title %}{{roster.manager.team_name}}{% endblock%}

{% block content %}

<div class="container mb-5">
    <h1 class="display-3 text-white text-center my-5 page-title">{{roster.manager.team_name}}</h1>

    
    <div class="row my-5 justify-content-center">
        <div class=" col-xs-10 col-sm-12 col-md-8 col-lg-5">
            <table class="table table-light table-striped table-bordered text-center border border-dark border-2 roster-info">
                <tbody>
                    <tr>
                        <td><b>MANAGER</b></td>
                        <td><a href="/managers/{{roster.manager.user.id}}" class="link-dark">{{roster.manager.user.full_name}}</a></td>
                    </tr>
                    <tr>
                        <td><b>WINS</b></td>
                        <td>{{roster.wins}}</td>
                    </tr>
                    <tr>
                        <td><b>LOSSES</b></td>
                        <td>{{roster.losses}}</td>
                    </tr>
                    <tr>
                        <td><b>PPTS</b></td>
                        <td>{{roster.ppts}}</td>
                    </tr>
                    <tr>
                        <td><b>FPTS</b></td>
                        <td>{{roster.fpts}}</td>
                    </tr>
                    <tr>
                        <td><b>FPTS AGAINST</b></td>
                        <td>{{roster.fpts_against}}</td>
                    </tr>
                    <tr>
                        <td><b>STREAK</b> </td>
                        <td>{{roster.streak}}</td>
                    </tr>
                    <tr>
                        <td><b>AVG AGE</b> </td>
                        <td>{{avgs['avg_age']}}</td>
                    </tr>
                    <tr>
                        <td><b>AVG HEIGHT</b> </td>
                        <td>{{avgs['avg_height']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-5">
            <table class="table table-responsive rounded bg-black text-white border border-white border-2 roster-info">
                <thead>
                    <tr>
                        <th colspan="4">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <img class="img-fluid rounded-circle border border-white border-2" src="https://sleepercdn.com/avatars/thumbs/{{roster.manager.avatar_id}}" alt="">
                                </div>
                                <div class="col-8 align-self-center">
                                    <div><span class="roster-name">{{roster.manager.team_name}}</span></div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players%}
                    <tr class="align-middle">
                        {% if player.full_name %}
                        <td class="text-center">
                            <div class="p-2 rounded {{player.position}}">{{player.position}}</div>
                        </td>
                        <td class="player-pic">
                            <img src="https://sleepercdn.com/content/nfl/players/thumb/{{player.id}}.jpg" class="img-fluid" alt="">
                        </td>
                        <td>
                            <span>{{player.team}}</span>
                        </td>
                        <td>    
                            {{player.full_name}}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
        </div>
    </div>
</div>



{% endblock %}