{% extends 'base.html'  %}

{% block title %}LEAGUE POLLS{% endblock%}

{% block content %}

<div class="container">
    <h1 class="text-center display-3 my-5 text-white">The No Fun League Polls</h1>

    <div class="row justify-content-center mb-5">
        <div class="col-auto">
            <a href="/polls/new" class="btn btn-lg btn-warning rounded-pill"><b>NEW PROPOSAL</b></a>
        </div>
    </div>

    <p class="lead text-white text-center m-5">No Fun League managers who are registered and logged in may submit their proposals to ammend the No Fun League constitution here. Once a proposal is submitted, it cannot be altered in any way. Each manager is allowed to vote only once. A propsoal passes when more than half the league managers have agreed.</p>

    <div class="row justify-content-center text-center">
        <div class="col-10">
            {% for proposal in proposals %}
            <div class="p-5 mb-5 rounded text-white border border-white proposals">
                <div class="row justify-content-center mb-3">
                    <h3 >{{proposal.ammendment}}</h3>
                    <p class="mb-0">proposed by <i>{{proposal.proposed_by.full_name}}</i></p> 
                    <div class="col-6">
                        <hr class="bg-white border-5 border-white">
                    </div>
                </div>
                <p class="lead mb-5">{{proposal.argument}}</p>
                <div class="row text-center">
                    <div class="col-6 mb-3">
                        <form action="/polls/vote" method="POST">
                            <input type="hidden" name="prop-id" value="{{proposal.id}}">
                            <input type="hidden" name="decision" value="{{True}}">
                            <button type="submit" class="btn btn-primary rounded-pill"><b>AGREE</b></button>
                        </form>
                    </div>
                    <div class="col-6">
                        <form action="/polls/vote" method="POST">
                            <input type="hidden" name="prop-id" value="{{proposal.id}}">
                            <input type="hidden" name="decision" value="{{False}}">
                            <button type="submit" class="btn btn-danger rounded-pill"><b>DISAGREE</b></button>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-around rounded">
                    <div class="col-5">
                        <div class="row p-3 ">
                            {% for vote in proposal.votes %}
                            {% if vote.agree == True %}
                                <div class="col-lg-3">
                                    <img class="img-fluid rounded-circle border border-white border-2" src="https://sleepercdn.com/avatars/thumbs/{{vote.user.manager.avatar_id}}" alt="">
                                    <div>{{vote.user.first_name}}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row p-3">
                            {% for vote in proposal.votes %}
                            {% if vote.agree == False %}
                            <div class="col-lg-3">
                                <img class="img-fluid rounded-circle border border-white border-2" src="https://sleepercdn.com/avatars/thumbs/{{vote.user.manager.avatar_id}}" alt="">
                                <div>{{vote.user.first_name}}</div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}