/* BOOTSTRAP WILL OVERRIDE ANY STYLES UNLESS YOU SET UP SASS */
body {
  background-color: #333333;
  min-height: 100vh;
  position: relative;
}

.page-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.ubuntu-font {
  font-family: "Ubuntu", sans-serif;
}

.bgGold {
  background-color: #fcba03;
}

#dropdown {
  background-color: black;
}

.dd-link {
  color: white;
}

.dropdown-menu {
  opacity: 0.95;
}

.nav-link {
  font-size: 1.25rem;
}

.managers {
  background-color: black;
}

.QB {
  background-color: #dc3545;
}

.RB {
  background-color: #198754;
}

.WR {
  background-color: #0d6efd;
}

.TE {
  background-color: #6f42c1;
}

.K {
  background-color: teal;
}

.DEF {
  background-color: grey;
}

.player-pic {
  max-width: 75px;
}

.roster-name {
  font-size: 1.5rem;
}

.roster-info {
  font-size: 1.25rem;
  font-family: "Ubuntu", sans-serif;
}

.proposals {
  background-color: #0e1111;
}

.posts {
  background-color: #0e1111;
}

.user-info {
  background-color: #0e1111;
}

.bgDark {
  background-color: #0e1111;
}

.infoIcon {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.5rem;
}

.playerIcon {
  max-height: 125px;
  max-width: 125px;
  border-radius: 100%;
}

.teamIcon {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100%;
}

.tradeDesire {
  background-color: teal;
}

.logo {
  max-width: 50px;
}

p.indent {
  text-indent: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
