/* BOOTSTRAP WILL OVERRIDE ANY STYLES UNLESS YOU SET UP SASS */
body {
  background-color: #1a1917;
}

#navbar {
  background-color: #fcba03;
}

.dropdown-menu {
  opacity: 0.95;
}

.nav-link {
  font-size: 1.25rem;
}

.managers {
  background-color: black;
}
