{% extends 'base.html'  %}

{% block title %}NO FUN LEAGUE{% endblock%}

{% block content %}

<div class="container">
    <h1 class="text-center my-5">The No Fun League</h1>

    <p class="lead">Founded in 2013?, the No Fun League began as simple snake redraft league amongst a small group of friends. In 2020?, the league converted to an auction draft with multi-year keepers. Each year, the managers compete to win the championship and avoid the ever-humiliating Toilet Bowl.</p>
</div>


{% endblock %}