{% extends 'base.html'  %}

{% block title %}Edit User Profile{% endblock%}

{% block content %}

<div class="container">

  <form method="POST" action="/managers/{{user.id}}/update" class="text-white">
  
    {{ form.hidden_tag() }}

  <div class="row justify-content-center my-5">
    <div class="col-md-8 bg-black p-5 rounded">
    <h1 class="display-3 text-center mb-3 text-white">Edit Profile</h1>
      <div class="row justify-content-center">
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="col-md-6 mb-3">
          <b>{{ field.label(class_="form-label") }}</b>
    
            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
      
            {% if field.type == "SelectField"%}
            {{field(class_="form-select")}}
            {% else%}
            {{ field(class_="form-control") }}
            {% endif %}
      
          </div>
        {% endfor %}
  
        <div class="row justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary" type="submit"><b>SAVE</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
  </form>
</div>


{% endblock %}