{% extends 'base.html'  %}

{% block title %}Login{% endblock%}

{% block content %}
<div class="container">


  <div class="row justify-content-center text-white my-5">
    <div class="col-10 col-md-8 col-lg-6 p-5 rounded bgDark">
    <h1 class="display-1 text-center">Login</h1>
    <p class="lead text-center">Don't have an account yet? <a href="/register" class="link-light">Register</a></p>

      <form method="POST" action="/login">

        {{ form.hidden_tag() }}
      
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
          <b>{{ field.label(class_="form-label") }}</b>
          {{ field(class_="form-control") }}
      
          {% for error in field.errors %}
          <span class="form-text text-danger">{{ error }}</span>
          {% endfor %}
        </p>
        {% endfor %}

        <div class="row justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary mt-3" type="submit"><b>LOGIN</b></button>
          </div>
        </div>
      
      
      </form>
    </div>
  </div>
</div>



{% endblock %}