{% extends 'base.html'  %}

{% block title %}User Home{% endblock%}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="row text-center">
            <div class="col-2">
                <img class="img-fluid" src="https://sleepercdn.com/avatars/{{user_data['avatar']}}">
            </div>
            <div class="col-auto">
                <p><b><u>USERNAME</u></b></p>
                <p> {{user.username}}</p>
            </div>
            <div class="col-auto">
                <p><b><u>EMAIL</u></b></p>
                <p>{{user.email}}</p>
            </div>
            <div class="col-auto">
                <p><b><u>FULL NAME</u></b></p>
                <p>{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="col-auto">
                <p><b><u>USER_ID</u></b></p>
                <p>{{user_data['user_id']}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex justify-content-end">
            <form action="/users/{{user.username}}/update">
                <button type="submit" class="btn btn-warning">Edit User Details</button>
            </form>
        </div>
    </div>
</div>


<h3 class="display-3 text-center">ROSTER</h3>

<p>{{roster}}</p>

{{league_data[2]['owner_id']}}

{% for owner in league_data%}
<li>{{owner['owner_id']}}</li>
{% endfor%}

{% endblock %}